@font-face {
   font-family: 'RifficFree-Bold';
   font-display: swap;
   src: url('RifficFree-Bold/font.ttf');
}
@font-face {
   font-family: 'Subscribe';
   font-display: swap;
   src: url('Subscribe/font.ttf');
}
