@font-face {
   font-family: 'RifficFree-Bold';
   font-display: swap;
   src: url('file:///C:/Users/tprot/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-04-06_101535/fonts/RifficFree-Bold/font.ttf');
}
